<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.myth.poetrycommon">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        >

        <activity
            android:name=".activity.ShareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"/>
        <activity
            android:name=".activity.EditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"/>
        <activity
            android:name=".activity.YunSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"/>
        <activity
            android:name=".activity.ShareEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"/>
        <activity
            android:name=".activity.FormerIntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"/>
        <activity
            android:name=".activity.FormerSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.FormerEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.WritingSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".activity.BackupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"/>
        <activity
            android:name=".activity.CommunityActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"/>
        <activity
            android:name=".activity.PrivacyPolicyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"/>
        <activity
            android:name=".activity.TermsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme"/>


    </application>

</manifest>
